@import '../styles/global';

.container {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 5px solid $color-pallete-9;
    color: $color-pallete-9;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;

    .picture {
        border-radius: 20%;
        max-height: 150px;
    }
   

}